@media only screen and (min-width: 100px) {
.headerimage {
	padding: 0;
	text-align:center;
    position:relative;
}

.headtitle {
    position: absolute;
    margin: auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    color:#fff;
    padding: 10px;
    height:100px;

}

.incub {
	background-image: url("../img/incubator.png");
	padding: 25% 8%;
}

.imgtextcolor {
	color: white;
}

#memberbg {
	background-color: #D4F4DD;
}

#officersbg {
	background-color: #8AB0AB;
}
}

@media screen and (min-width: 800px) {
	.maintitle {
		font-size: 5vw;
	}
}
